$color__primary         : #ef5b4c;
$color__secondary       : #efe6e6;

$color__light           : #fff;
$color__dark            : #000;

//Indicate
$color__error           : #d23333;
$color__success         : #51d720;
//Font-color
$color__font--primary    : #000000;
$color__font--secondary  : #fff;
$color__font--hover      : $color__secondary;

//Block-color
$color__block--primary    : $color__primary;
$color__block--secondary  : $color__secondary ;
$color__block--light      : #f5f5f5 ;

//Border
$color__border--primary    : $color__primary;
$color__border--secondary  : $color__secondary ;
