.header {
  position: fixed;
  z-index: z(header);

  width: 100%;
  height: $header_height;

  background-color: $color__primary;

  &__wrap {
    height: $header_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
